<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1>[[#{plantilla.titulo}]]</h1> <!--toma el nombre desde messages.properties-->
        </header>

        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">Español</a> | 
                <a th:href="@{/(lang=en)}">English</a>
                <p>[[#{plantilla.pie-pagina}]] <a href="https://github.com/josueSoP" target="_blank">GitHub Tienda JavaScript</a></span>
            </div>
        </footer>
    </body>
</html>
